{% extends "layout.html" %}
{% block body %}
<div class="page-header">
<h1>New User</h1>
</div>

<form action="{{url_for('newuser.register')}}" method=POST>
<input type="text" name="username" class="form-control" placeholder="Pick a Username" required autofocus>
<!--<input type="password" name="password" class="form-control" placeholder="password" required>-->


<button type="submit" class="btn btn-info" value="Submit">Next</button>
</form>

{%if error%}
<!--<br><br>
<h3 class="bg-danger"><em>{{error}}</em></h3>-->
{%endif%}

{% with messages = get_flashed_messages() %}
    {%if messages%}
    {%for message in messages%}
    <br><br>
    <h3 class="bg-success"><em>{{message}}</em></h3>
    {%endfor%}
    {%endif%}
{%endwith%}

{% endblock %}