{% extends "layout.html" %}
{% block body %}
<div class="page-header">
<h1>Add Entry</h1>
</div>
{{rowlist}}
<form role="form" class="form-inline" action="{{url_for('controller.edit_entry',id_no=id1)}}" method=POST>

<div class="form-group">

	<div class="input-group" style="width:10em">
			<span class="input-group-addon" id="date"">Date</span>
			<input type="date" aria-describedby="date" placeholder="dd/mm/yy" name="date" value="{{'%s-%02i-%02i'%(rowlist[0],rowlist[1],rowlist[2])}}" style="width:10em">
	</div>

	<div class="input-group">
			<span class="input-group-addon" id="account"">Account</span>
			<!--<input type="text" aria-describedby="account" placeholder="PREMIER" name="account" style="width:12em">-->
			<select class="form-control" name="account">
			{%for account in accounts|sort%}
			{%if rowlist[3]==account%}
			<option selected value="{{account}}">{{account}}</option>
			{%else%}
			<option value="{{account}}">{{account}}</option>
			{%endif%}
			{%endfor%}

			</select>
	</div>

	<div class="input-group">
			<span class="input-group-addon" id="description"">Description</span>
			<input type="text" aria-describedby="description" placeholder="E.g. June Salary" name="description" value="{{rowlist[6]}}">
	</div>

	<div class="input-group" style="width:7em">
			<span class="input-group-addon" id="amount"">Amount</span>
			<input type="number" step="any" aria-describedby="amount" placeholder="999.99" name="amount" value={{rowlist[4]}} style="width:7em">
	</div>



	<div class="input-group">
			<span class="input-group-addon" id="description"">Currency</span>
			<select class="form-control" name="currency">
			{%for i in currency%}
			{%if rowlist[5]==i%}
			<option selected value="{{rowlist[5]}}">{{rowlist[5]}}</option>
			{%else%}
			<option value="i">{{i}}</option>
			{%endif%}
			{%endfor%}
			</select>
	</div>

<br><br><button type="submit" class="btn btn-primary" value="Submit">Edit</button>
</div>

</form>

<h1>{{test}}</h1>
{% endblock %}
