{% extends "layout.html" %}
{% block body %}

<div class="page-header">
<h1>All Entries Sorted by Date</h1>
</div>

<table class="table table-condensed table-bordered">

<thead>
<tr>
<th>Date</th>
<th>Account</th>
<th>Description</th>
<th>Amount</th>
<th>Currency</th>
</tr>
</thead>

<tbody>
{%for date in output|sort%}
	{%for dictionary in output[date]%}
		{%for id in dictionary%}
		
			{%if dictionary[id][3]=='PREMIER' %}
				<tr class="info">
			{%elif dictionary[id][3]=='ADVANCED'%}
				<tr class="danger">
			{%elif dictionary[id][3]=='SAVINGS'%}
				<tr class="success">
			{%else%}
				<tr>
			{%endif%}
			<td>{{'%s/%s/%s'%(dictionary[id][2],dictionary[id][1],dictionary[id][0])}}</td>
			<td>{{dictionary[id][3]}}</td>
			<td>{{dictionary[id][6]}}</td>
			<td>{{dictionary[id][4]}}</td>
			<td>{{dictionary[id][5]}}</td>
			<td><a href="{{url_for('delete_entry',id_no=id)}}">Delete</a></td>
		
		</tr>	
			
			
			
			
			
			
		{%endfor%}
	{%endfor%}
{%endfor%}
</tbody>
</table>


<a href="{{url_for('add_entry')}}{{a}}" role="button" class="btn btn-primary">Add</a>
<a href="{{url_for('convert')}}{{a}}" role="button" class="btn btn-primary">Convert currency</a>
<a href="{{url_for('transfer')}}{{a}}" role="button" class="btn btn-primary">Transfer</a>
{% endblock %}
