{% extends "layout.html" %}
{% block body %}

<div class="page-header">
<h1>Entries sorted by ID</h1>
	<form action="{{url_for('filter1')}}" method=POST>
	<div class="input-group">
		<input type="text" name="keyword" class="form-control" placeholder="Filter by keyword...">
		<span class="input-group-btn"><button class="btn btn-default" type="submit" value="submit">Filter</button></span>
	</div>
	</form>
</div>

{%if keyword%}
<h5>Filtered by keyword: <em>{{keyword}}</em></h5>
{%endif%}

<table class="table table-condensed table-bordered">

<thead>
<tr>
<th>Date</th>
<th>Account</th>
<th>Description</th>
<th>Amount</th>
<th>Currency</th>
</tr>
</thead>

<tbody>
{%for id in output.keys()[min_row:]|sort%}
{%if output[id][3]=='PREMIER' %}
<tr class="info">
{%elif output[id][3]=='ADVANCED'%}
<tr class="danger">
{%elif output[id][3]=='SAVINGS'%}
<tr class="success">
{%else%}
<tr>
{%endif%}
<td>{{'%s/%s/%s'%(output[id][2],output[id][1],output[id][0])}}</td>
<td>{{output[id][3]}}</td>
<td>{{output[id][6]}}</td>
<td>{{output[id][4]}}</td>
<td>{{output[id][5]}}</td>
<td><a href="{{url_for('edit_entry',id_no=id)}}">Edit</a></td>
<td><a href="{{url_for('delete_entry',id_no=id)}}">Delete</a></td>
</tr>
{%endfor%}
</tbody>
</table>

<a href="{{url_for('add_entry')}}{{a}}" role="button" class="btn btn-primary">Add</a>
<a href="{{url_for('convert')}}{{a}}" role="button" class="btn btn-primary">Convert currency</a>
<a href="{{url_for('transfer')}}{{a}}" role="button" class="btn btn-primary">Transfer</a>

{% endblock %}
